.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(189, 189, 189);
  overflow-x: hidden;
  border: 10px;
  border-color: blue;
  padding-top: 20px;
  display:block;
}
.sidebar img {
  width: 160px;
  height: auto;

}

.sidebar .a {
  color: rgb(58, 58, 58);
  font-style: bold;
}